# --- STM32 & Embedded Specific ---
# Keil MDK
*.uvoptx
*.uvguix.*
*.uv2
Listings/
Objects/

# STM32CubeIDE / Eclipse
.settings/
.project
.cproject
.mxproject

# Binary & Flash files
*.hex
*.bin
*.elf
*.map
*.d
*.crf
*.o
